{% extends "registration/reg_base.html" %}
{% load i18n %}

{% block content %}
    <div class="content">
        {% if form.errors %}
                <div class="alert alert-danger">
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form class="form-signin" role="form" action="" method="post">
            {% csrf_token %}
            <center><h2 class="form-signin-heading">{% trans "Password change" %}</h2></center>
            {% for field in form %}
                {% include "registration/form_field.html" %}
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Change my password" %}</button>
        </form>
    </div>
{% endblock %}